{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTsx": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties"
  ]
}
